node_modules
**/node_modules/

dist
**/dist/
build
**/build/

database/
postgres-data/
*.db

.env
.env.*
!.env.example
*.local

.git
.gitignore
.gitattributes
*.log
npm-debug.log*
pnpm-debug.log*

.vscode
.idea
.DS_Store
README.md