# Node dependencies
node_modules/
**/node_modules/

# PNPM store
.pnp/
.pnpm-store/

# Build output
dist/
**/dist/
build/
**/build/

# Vite cache
.vite/

# Playwright
test-results
playwright-report
blob-report
.cache
.auth
.playwright-mcp

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# Environment variables
.env
.env.development
.env.production
.env.*.local

# Database data
database/data/
#Google Chrome
chrome-profile

#Reports
allure
apps/backend/allure
apps/frontend/allure
e2e/allure
allure-report/
allure-results/
apps/backend/allure-results/
apps/frontend/allure-results/
e2e/allure-results/

# Docs
docs/*.pdf
