DEV_FRONTEND_URL= https://dev.geogis.tech
DEV_INTERNAL_EXPOSE = true

PROD_FRONTEND_URL= https://geogis.tech
PROD_INTERNAL_EXPOSE = false

DEV_API_URL= https://dev.geogis.tech
DEV_API_PORT= X
DEV_SWAGGER_API_TITLE = @gis/development
DEV_SWAGGER_API_VERSION = 1.0.0
DEV_SWAGGER_API_URL = https://dev.geogis.tech/api

PROD_API_URL= https://geogis.tech
PROD_API_PORT= X
PROD_SWAGGER_API_TITLE = @gis/production
PROD_SWAGGER_API_VERSION = 1.0.0
PROD_SWAGGER_API_URL = https://geogis.tech/api

DEV_POSTGRES_USER=X
DEV_POSTGRES_PASSWORD=X
DEV_POSTGRES_DB=X
DEV_DATABASE_URL=postgres://X:X@X:X/X

PROD_POSTGRES_USER=X
PROD_POSTGRES_PASSWORD=X
PROD_POSTGRES_DB=X
PROD_DATABASE_URL=postgres://X:X@X:X/X


APP_TAG=dev-build-85-20260118
